<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="org.videolan.vlc.permission.READ_EXTENSION_DATA" />
    <uses-permission android:name="org.videolan.vlc.permission.BIND_DATA_CONSUMER" />

    <application
            android:label="VLC图片"
            tools:replace="android:label" />

</manifest>
